<template lang="pug">
  main.content
    .pic
      v-lazy-image.pic-item(:src="require(`../assets/images/i.${$store.getters.webp ? 'webp' : 'png'}`)")

      v-lazy-image.logo(:src="require(`../assets/images/logo.${$store.getters.webp ? 'webp' : 'png'}`)")

      .pic-link-wrapper
        a.pic-link(href="#" target="_blank")
          v-lazy-image(:src="require(`../assets/images/GooglePlay.svg`)")

        a.pic-link(href="#" target="_blank")
          v-lazy-image(:src="require(`../assets/images/AppStore.svg`)")

    .container
      h1
        | Сроки проведения акции:
        div 29.07.2020-09.10.2020

      hr

      footer
        .copy © 2020 Unilever

        ul.reset
          li Used by professionals – Используется профессионалами
          li Sulphate-free cleansing – Бессульфатное очищение

          li Filler effect – Филлер эффект
          li Фотография отретуширована.

        p {{'Организатор Акции: ООО «Темма», юридический адрес: 109004, г. Москва, Тетеринский пер., д. 8, эт. 5, комн. 25 (ИНН 7705825606). Организатор Акции действует в интересах и по заданию ООО «Юнилевер Русь», юридический адрес: 123022, ул. Сергея Макеева, 13. Правила Акции: для участия в розыгрыше необходимо приобрести любую продукцию под товарным знаком TRESemmé в сети магазинов «Магнит» в период с 29.07.2020г. по 22.09.2020г. и зарегистрировать чек в приложении Акции. Акция проводится на территории Российской Федерации во всех магазинах сети «Магнит», за исключением магазинов «Магнит Аптека». Общий срок проведения Акции с 29.07.2020г. по 09.10.2020г. Подробную информацию об организаторе Акции, о правилах ее проведения, количестве призов по результатам Акции, сроках, месте и порядке вручения призов уточняйте на сайте www.instagram.com/tresemme_russia/. Количество подарков ограничено. Денежный эквивалент еженедельных призов не выдаётся. Каждый участник имеет право участвовать в Акции неограниченное количество раз в соответствии с правилами Акции. Призы могут отличаться по внешнему виду от их изображений на рекламно-информационных материалах. Used by professionals – Используется профессионалами. Sulphate-free cleansing – Бессульфатное очищение. Repair&Protect – Восстановление и защита. Фотография отретуширована.' | typograf}}
</template>

<script>
export default {
  name: 'Home',

  methods: {},

  mounted() {},

  components: {},
};
</script>

<style lang="sass" scoped>
  @import "../styles/mixins/mixins"
  @import "../styles/vars/variables"

  .container
    max-width: 640px
    margin: 0 auto

    +media($land, $scaling)
      max-width: size(640, $size-land)

    +media($port, ">=tablet")
      max-width: size(640, $size-port-tablet)

    +media($port, "<tablet")
      max-width: size(640, $size-port)

  footer
    color: $color-gold50
    font-weight: 300
    margin-top: 51px
    padding: 0 12px 38px
    padding-top: 0

    +media($land, $scaling)
      margin-top: size(51, $size-land)
      padding: 0 size(12, $size-land) size(38, $size-land)

    +media($port, ">=tablet")
      margin-top: size(51, $size-port-tablet)
      padding: 0 size(12, $size-port-tablet) size(38, $size-port-tablet)

    +media($port, "<tablet")
      margin-top: size(51, $size-port)
      padding: 0 size(12, $size-port) size(38, $size-port)

    p
      margin: 15px 0

      +media($land, $scaling)
        margin: size(15, $size-land) 0

      +media($port, ">=tablet")
        margin: size(15, $size-port-tablet) 0

      +media($port, "<tablet")
        margin: size(15, $size-port) 0

    ul
      li
        margin-bottom: 14px

        +media($land, $scaling)
          margin-bottom: size(14, $size-land)

        +media($port, ">=tablet")
          margin-bottom: size(14, $size-port-tablet)

        +media($port, "<tablet")
          margin-bottom: size(14, $size-port)

    .copy
      font-size: 28px
      margin-bottom: 40px

      +media($land, $scaling)
        font-size: size(28, $size-land)
        margin-bottom: size(40, $size-land)

      +media($port, ">=tablet")
        font-size: size(28, $size-port-tablet)
        margin-bottom: size(40, $size-port-tablet)

      +media($port, "<tablet")
        font-size: size(28, $size-port)
        margin-bottom: size(40, $size-port)

  hr
    height: 1px
    border: 0
    background-color: $color-gold50
    margin: 49px 0

    +media($land, $scaling)
      margin: size(49, $size-land) 0

    +media($port, ">=tablet")
      margin: size(49, $size-port-tablet) 0

    +media($port, "<tablet")
      margin: size(49, $size-port) 0

  h1
    margin: 0
    font-weight: 300
    line-height: 141%
    font-size: 46px
    letter-spacing: 0.04em
    text-align: center
    text-transform: uppercase

    +media($land, $scaling)
      font-size: size(46, $size-land)

    +media($port, ">=tablet")
      font-size: size(46, $size-port-tablet)

    +media($port, "<tablet")
      font-size: size(46, $size-port)

    div
      font-size: 1.15em

  .pic-link-wrapper
    position: absolute
    right: 52px
    bottom: 69px

    +media($land, $scaling)
      right: size(52, $size-land)
      bottom: size(69, $size-land)

    +media($port, ">=tablet")
      right: size(52, $size-port-tablet)
      bottom: size(69, $size-port-tablet)

    +media($port, "<tablet")
      right: size(52, $size-port)
      bottom: size(69, $size-port)

  .pic-link
    display: block
    margin-bottom: 24px
    width: 306px

    +media($land, $scaling)
      width: size(306, $size-land)
      margin-bottom: size(24, $size-land)

    +media($port, ">=tablet")
      width: size(306, $size-port-tablet)
      margin-bottom: size(24, $size-port-tablet)

    +media($port, "<tablet")
      width: size(306, $size-port)
      margin-bottom: size(24, $size-port)

    &:last-child
      margin-bottom: 0

    img
      width: 100%

  .logo
    position: absolute
    right: 43px
    top: 22px
    width: 210px

    +media($land, $scaling)
      right: size(43, $size-land)
      top: size(22, $size-land)
      width: size(210, $size-land)

    +media($port, ">=tablet")
      right: size(43, $size-port-tablet)
      top: size(22, $size-port-tablet)
      width: size(210, $size-port-tablet)

    +media($port, "<tablet")
      right: size(43, $size-port)
      top: size(22, $size-port)
      width: size(210, $size-port)

  .pic
    position: relative
    width: 640px
    margin: 0 auto
    text-align: center

    +media($land, $scaling)
      width: size(640, $size-land)

    +media($port, ">=tablet")
      width: size(640, $size-port-tablet)

    +media($port, "<tablet")
      width: size(640, $size-port)

    .pic-item
      width: 100%

</style>
