<template lang="pug">
  #app(:class="{'-transparent': !ready}")
    keep-alive
      router-view
</template>

<script>
export default {
  name: 'Layout',
  data() {
    return {
      ready: false,
    };
  },
  methods: {},
  mounted() {
    if (!window.PRERENDER_INJECTED) {
      window.addEventListener('load', () => {
        (document.getElementById('spinner')).classList.add('-hide');

        this.ready = true;

        this.$store.commit('UPDATE_READY', true);
      });
    } else {
      document.querySelector('html')
        .setAttribute('class', '');
    }

    if (this.$store.getters.ready) {
      (document.getElementById('spinner')).classList.add('-hide');

      this.ready = true;
    }
  },
  components: {},
};
</script>

<style lang="sass"></style>
